<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>open states</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="cssBootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container" id="app">

        <!-- header -->
        <encabezado></encabezado>

        <!-- NAV -->
        <navegacion storageSelect="storageSelect" :fetchestalisto="fetchreadyV" legisboton="bg-secondary text-white" :arrayestados="selecStates" :linkess="links"></navegacion>

		<main>
			<h1>datos open states</h1>
			<table class="table">
				<thead>
					<tr>
						<th>name</th>
						<th>state</th>
						<th>party</th>
						<th>district</th>
                        <th>chamber</th>
					</tr>
				</thead>
				<tbody v-if="metadatosReady && legislatorsReady">
					<tr v-for="menber in datosCongressLegislators">
                        <td><a :href="menber.url" target="_blank">{{menber.full_name}}</a></td>
                        <td>{{menber.state}}</td>
                        <td>{{menber.party}}</td>
                        <td>{{menber.district}}</td>
                        <td v-if="menber.chamber=='upper'">{{stateMetadata.chambers.upper.title}}</td>
                        <td v-else-if="menber.chamber=='lower'">{{stateMetadata.chambers.lower.title}}</td>                
                    </tr>
				</tbody>
			</table>
            <div v-if="!(metadatosReady && legislatorsReady)" class="spinner-border text-muted" id="carga"></div>
		</main>
	</div>

	<!--scipts de frame works-->
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- jquery y popper para bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- font awesone -->
    <script src="https://kit.fontawesome.com/c1c77cc02b.js"></script>

    <!-- scripts propias/locales -->
    <script type="text/javascript" src="js/variablesglobales.js"></script>
    <script type="text/javascript" src="js/componentes.js"></script>
    <script type="text/javascript" src="js/task5.js"></script>
</body>
</html>