<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>open states</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="cssBootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container" id="app">

        <!-- header -->
        <header id="lolayty">
          <div class="d-flex">
            <div class="m-4 ">
                <i class="fab fa-searchengin fuente1"></i>
                <a href="#" class="fuente1">TGIF</a>
            </div>
            <div class="m-4 ml-auto">
                <i class="far fa-envelope fuente1"></i>
                <a class="fuente1" href="mailto:info@tgif.net">info@tgif.net</a>
            </div>
          </div>
        </header>

        <!-- NAV -->
        <nav id="senate-data" class="mb-4 navbar navbar-expand bg-light border border-dark text-center">
            <ul class="navbar-nav row w-100 mx-auto">
                <li class="nav-item col-md-2">
                    <a  class="nav-link text-center" href="index.html">Home</a>
                </li>
                <li class="nav-item col-md-2">
                    <a class="nav-link text-center" data-toggle="collapse" href="#collapse1">Congress 113</a>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="list-group">
                          <a class="list-group-item list-group-item-action" href="senate-data.html">Senate</a>
                          <a class="list-group-item list-group-item-action" href="house-data.html">House</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item col-md-2">
                    <a class="nav-link text-center" data-toggle="collapse" href="#collapse2">Attendance</a>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="list-group">
                          <a class="list-group-item list-group-item-action" href="senate-attendance-statistics.html">Senate</a>
                          <a class="list-group-item list-group-item-action" href="house-attendance-statistics.html">House</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item col-md-2">
                    <a class="nav-link btn" data-toggle="collapse" href="#collapse3">Party Loyalty</a>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="list-group">
                          <a class="list-group-item list-group-item-action" href="#">Senate</a>
                          <a class="list-group-item list-group-item-action" href="house-party-loyalty-statistics.html">House</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item col-md-2">
                    <a  class="nav-link text-center btn btn-secondary" href="#">State Legislatures</a>
                </li>
            </ul>
        </nav>

		<main>
			<h1>datos open states</h1>
			<table class="table">
				<thead>
					<tr>
						<th>name</th>
						<th>state</th>
						<th>party</th>
						<th>district</th>
                        <th>chamber</th>
					</tr>
				</thead>
				<tbody v-if="estalisto && estalisto2">
					<tr v-for="menber in datosCongress">
                        <td><a :href="menber.url">{{menber.full_name}}</a></td>
                        <td>{{menber.state}}</td>
                        <td>{{menber.party}}</td>
                        <td>{{menber.district}}</td>
                        <td v-if="menber.chamber=='upper'">{{stateMetadata.chambers.upper.title}}</td>
                        <td v-else-if="menber.chamber=='lower'">{{stateMetadata.chambers.lower.title}}</td>                
                    </tr>
				</tbody>
			</table>
		</main>
	</div>

	<!--vue js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- font awesone -->
    <script src="https://kit.fontawesome.com/c1c77cc02b.js"></script>
    <script type="text/javascript" src="js/task5.js"></script>
</body>
</html>